<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/cjw21889/image/upload/v1592412052/Profile/ezgif.com-gif-maker_xyhtkb.gif);">
  <div class="container banner-content">
    <h1 class="pt-50">Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <%= link_to "Contact Me", "#", class: "btn btn-flat" %>
  </div>
</div>
<div class="container">

  <h1>My Services</h1>

  <div class="service-card-container">
    <h3>Front end development</h3>
    <div class="service-card">
      <h5> HTML</h5>
      <p>is the worst</p>
    </div>
    <div class="service-card">
      <h5> CSS</h5>
      <p>is actually the worst</p>
    </div>
    <div class="service-card">
      <h5>Javascript</h5>
      <p>don't even talk to me</p>
    </div>
  </div>

  <div class="service-card-container">
    <h3>Back end development</h3>
    <div class="service-card">
      <h5>Ruby</h5>
      <p>is fine</p>
    </div>
    <div class="service-card">
      <h5>Python</h5>
      <p>is ok</p>

    </div>
    <div class="service-card">
      <h5>Javascript</h5>
      <p>don't even talk to me</p>
    </div>
  </div>



</div>
